.rows{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 5px;

  .row{
    display: flex;
    gap: 5px;

     &.electric{

       button{
         border: 1px solid blue;
       }
     }

    button{
      height: 40px;
      width: 40px;
      cursor: pointer;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      border-radius: 5px;

      &:hover{
        background-color: white;
        color: #00011a;
      }
    }
  }
}
